@page

@model EEY.DigitalServices.Promotions.Pages.MilitaryCertModel

@{
    ViewData["Title"] = "Επισυνάψτε το πιστοποιητικό στρατολογικής κατάστασης \"Α\"";
}

<!--Main-->
<main class="govcy-container govcy-my-2" id="mainContainer">
    <div class="row">
        <div class="govcy-col-9 govcy-order-last">

            <h1>@ViewData["Title"]</h1>

        </div>

    </div>
</main>
